DEVICE=

OPENAI_API_KEY=

EMBEDDING_MODEL=
EMBEDDING_DIMENSION=

QDRANT_COLLECTION=
VECTOR_DISTANCE=

CHUNK_SIZE=
CHUNK_OVERLAP=

CANDIDATE_TOP_K=
FINAL_TOP_K=

RERANK_MODEL=

OLLAMA_MODEL_NAME=
OLLAMA_REQUEST_TIMEOUT=
OLLAMA_CONTEXT_WINDOW=

OTEL_SERVICE_NAME=

# docker variables
QDRANT_URL=
OTLP_EXPORTER_PATH=
OLLAMA_BASE_URL=
