llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-embeddings-openai

fastapi
uvicorn[standard]

llama-index-vector-stores-qdrant
qdrant-client

psycopg[binary]
sqlalchemy
alembic

opentelemetry-api
opentelemetry-sdk

pytest
httpx
