llama-index
llama-index-llms-ollama

llama-index-readers-file
pymupdf

llama-index-embeddings-huggingface
llama-index-embeddings-openai

opentelemetry-exporter-otlp-proto-http
llama-index-observability-otel
opentelemetry-exporter-otlp
opentelemetry-sdk

# for reranking
FlagEmbedding

fastapi
uvicorn[standard]

llama-index-vector-stores-qdrant
qdrant-client

psycopg[binary]
sqlalchemy
alembic

opentelemetry-api
opentelemetry-sdk

pytest
httpx

streamlit 
requests