llama-index
llama-index-llms-ollama

llama-index-readers-file
pymupdf

llama-index-embeddings-huggingface
# llama-index-embeddings-openai

llama-index-vector-stores-qdrant
qdrant-client

# Observability
opentelemetry-exporter-otlp-proto-http
llama-index-observability-otel
opentelemetry-exporter-otlp
opentelemetry-sdk
opentelemetry-api

# for reranking
FlagEmbedding

# API
fastapi
uvicorn[standard]

# data bases
psycopg[binary]
sqlalchemy
alembic

# testing
pytest
httpx

# # frontend
# streamlit 
# requests